h2{
    font-family: Comic Sans MS;
    color: green;
}
.container {
    position: relative;
    width: center;
    color: red;
    font-size: 35;
}
  
  /* centering text over an image */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, 50%);
  }
  
  /* centering the image on the page*/
  .center_img{
      display:block;
      margin-left:auto;
      margin-right:auto;
      width:500;
  }

  /* centering text on the page*/
  div{
      text-align:center;
  }
  
  body, html{
      height: 100%;
  }

  .parallax1{
    background-image: url("https://images.unsplash.com/photo-1472645977521-95bbf4f0a748?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&w=1000&q=80");

    height:100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax2{
    background-image: url("https://images.unsplash.com/photo-1531386151447-fd76ad50012f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");

    height:100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3{
    background-image: url("https://i.pinimg.com/564x/aa/8b/2f/aa8b2f389782837bdc25207424e0a2b4.jpg");

    height:100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  